@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
:root{
    --colorPremier: darkseagreen ;
    --colorSecondaire: honeydew;
    --colorTertiare: darkolivegreen;
    --fontPremiere:'dancing script';
    --fontSecondaire:'lora',sans serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
body html{
    line-height: 1.4;
    color:black;
    font-family: var(--fontPremiere);
}
.main{
    width: 1000px;
    max-width: calc(100% -32px);
    margin:0 auto;
    

}
header{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: var(--colorSecondaire);
    box-shadow: 0 5px 5px 0 var(--colorTertiare);
    top:0;
    position: sticky;
    z-index: 1;
}
.navbar{
    display: flex;
    
}
.main .nav_link{
    width: 100%;
}
.nav_link{
    border-left:1px solid darkolivegreen;
    border-left-width: 100%;
    text-decoration:none;
     color:black;
     display: flex;
     align-items: center;
     padding:0 12px ;
     font-size: 10px;
 
}
.nav_link:hover{
    color: var(--colorTertiare);
}
.logo{
    color: var(--colorTertiare);
    font-family:var(--fontPremiere);
    font-size:12px;
}
/* fin header*/
/* debut pub */
.container{
    display: flex;
    margin-top: 80px;
}

.pub{
    flex: none;
    width: 355px;
    padding:0 29px;
    border-right: 1px solid var(--colorPremier);
}
img{
    width: 100%;
}
.pub_img {
    margin-top: 15px;
    padding: 0 5px;
    top:0;
   font-size: smaller;
   
}
.image{
    margin-bottom: 0.4rem;
    padding:12px;
}
h3{
    text-align: center;
    margin-bottom: 16px;
    font-size: 12px;
    color:var(--colorPremier);
}
.title{
    margin:12px 0 ;
    text-align:center;
    padding-bottom:12px;
    border-bottom:1px solid var(--colorPremier);
    color: var(--colorPremier);
}
.script{
    padding:0 12px;
    font-size: 12px;
}
.formulaire {
   width:calc( 100% -8rem);
    margin:0 auto;
}
.form, 
.form .input{
    display: flex;
    flex-direction:column;
    gap: 0.5rem 0 ;
}
.input label{
    margin-left:0.1rem;
    text-align:justify;
    margin:0 65px;
    font-size: 12px;
}
 input{
    padding:0 auto;
    margin: auto;
}
.button{
   padding-left: 50px;
   padding-right: 50px;
}
h4{
    text-align:center;
    font-weight: bold;
    font-size: 10px;
    margin-bottom: 5px;
}
.article{
    flex-grow: 1;
    padding: 0 2rem;
}
.descript{
    display:flex;
    margin-bottom: 32px;
    padding-bottom: 32px;
    gap:0 16px;
    border-bottom:1px dashed var(--colorPremier) ;
}
h2{
    margin-top: auto;
    text-align: center;
    padding-top: 12px;
    margin-bottom: 12px;
    font-family:var(--fontPremiere);
}
.image_article{
    margin-top:auto ;
    margin-bottom: 12px;
    width: 120px;
    height: 100px;
    
}
.description{
    justify-content: center;
    text-align:justify;
    font-size: 11px;

}